body {
    font-family: sans-serif;
  }
  nav {
      display: flex;
      justify-content: space-between;
      background-color: teal;
      padding: 20px 10%;
      align-items: center;
  }
  
  #main-menu {
      display: flex;
      color: white; 
      gap: 20px;
  }
  
  menu li {
      list-style: none;
     
  }
  
  #main-menu button {
      background-color: transparent;
      border: none;
      font-size: 20px;
      font-weight: bold;
      margin: 0px;
      color: white;
    
  }
  
  
  
  #main-menu a {
      color: white;
      text-decoration: none;
  }
  /* We style the submenu and give it a position of absolute. Position: absolute removes an element from the normal flow of the page and has it take up no space. Z-index makes sure the menu is on top of the rest of the items on the page. Display: none hides it by default */
  
  .dropdown-menu {
      background-color: bisque;
      position: absolute;
      display: none; 
      z-index: 1;
     margin: 0px;
     padding: 10px;
      
      
  }
  
  /* this is saying: when the mouse hovers over an element with the class dropdown, display the dropdown submenu. */
  
  .dropdown:hover .dropdown-menu {
      display: block;
      
  
  }
  /* this is a more complicated selection. I am selecting buttons that are being hovered on that are children of list items inside of the #main-menu id AND (notice the comma) links that are children of list items inside of the #main-menu id */
  
  #main-menu li button:hover, #main-menu > li > a:hover {
      color: bisque;
      text-decoration: underline;
  }
  
  #main-menu .dropdown-menu a:hover {
      text-decoration: underline;
  }
  
  
  
  #main-menu .dropdown-menu a {
  
      color: teal;
      padding-block: 10px;
      display: inline-block;
  
  }
  
  menu {
  font-size: 20px;
  font-weight: bold;
  }
  
  
  
  .logo {
      font-size: 32px;
      color: white;
      text-decoration: none;
  }
/* asterisk means everything */
*{
    margin: 4px;;
    padding:0px;

}

body{
    background: FFF9F2;
    color: 4A4563;
    font-size: 18px;
    font-family: "Niramit";
    width: 60%;
    margin: auto
}

h1{
    font-family: "Lalezar", system-ui;
    color: 615B81;
    font-weight: 1000;
    font-style: normal;  
    padding-top: 1em;
    padding-bottom: .25em;
}




a hover{
    color:585EA1;
    background: FFF9F2;
    font-size: 18px;
    font-family: "Niramit";
}

#sky-at-beach {
    float:right;
    margin: 10px
}

.article-date {
    font-size: 16px;
    color: black;
    font-weight:bold
    
}

#newsletter-subscribe {
    background-color:#4B7443;
    /* 10 pixels of padding on all sides */
    padding:10px;
    padding-bottom:20px;
    padding-left: 10px;
    padding-right:10px;

    /* top,right, bottom, left */
    padding: 10px 20px 10px 30px;

    /* left and right only */
    padding-inline: 20px;

    /*top and bottom */
    padding-block:40px;

    border-radius:10px;
}

#newsletter-subscribe input {
    font-size: 18px;
    
    /* top+bottom, left+right */
    padding: 5px 10px;
    width: 200px;
    padding:10px;
}

#newsletter-subscribe h2 {
    color:white;
    text-align:center;
    font-size: 50px;
    padding-bottom: 20px;

}

/* all spans with the class article-date */


#newsletter-subscribe button {
    background-color: #2E4C29;
    font-size: 18px;
    font-family: "Poppins";
    /* top+bottom/ left+right */
    padding: 10px 20px;
    color:aliceblue;
    border-radius: 10px;
    

    border-width: 5px;
    border-style: solid;
    border-color: white

    /* width, style, color */
    
}

#newsletter label{
    color:aliceblue;
}

#newsletter-subscribe form{
    width:fit-content;
    margin-inline: auto;
}

/* related articles section */

.article-grid {
    display:flex;
    justify-content: center;
}

.article-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.article-grid img {
    width: 100%;

}

#article-1 {
    /* first value is where it starts on the grid, the second value is how much it spans */
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

#article-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#article-3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

/* laptop breakpoint size */

@media (max-width: 1026px) {

    main{
        width:60%;
        
    }

}






